/* CSS Document */
*{margin:0; padding:0;box-sizing: border-box}
html{-webkit-text-size-adjust:100%;height:100%;}
body{font-family:'NanumSquare', sans-serif; font-size:14px;color:#282828;font-weight: 300;height:100%;}
ul,ol,li{list-style:none;}
img,hr{border:none;}
img{vertical-align:middle;max-width:100%;}
table{width:100%; border-spacing:0;border-collapse:collapse;}
table td img	{vertical-align:middle;}
a{vertical-align:top; color:#000;}
a:link{text-decoration:none; color:inherit;}
a:visited{text-decoration:none; color:inherit;}
a:active{text-decoration:none; color:inherit;}
a:hover{text-decoration:none; color:inherit;}
article,aside,bdi,details,dialog,figcaption,figure,footer,header,main,mark,menuitem,meter,nav,progress,rp,rt,ruby,section,summary,time,wbr,
body,p,div,ul,li,dl,dt,dd,ol,fieldset,textarea,input,select,table,th,td,address,cite,h1,h2,h3,h4,h5,h6,strong,b,label,pre {font-size:inherit; color:inherit;}
strong,h1,h2,h3,h4,h5,h6,th,b,dt {font-weight: 600;}
span:focus, button:focus {outline:0;}
input,select{vertical-align:top; outline:none; }
button{font-family: 'NanumSquare', sans-serif}