@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(base.css);
@import url(main.css);
@import url(sub.css);

/* 트랜지션 모션 쳐리 (라우터 이동) */
.page-enter-active, .page-leave-active {
    transition: opacity .3s, transform .3s;
}
.page-enter, .page-leave-to {
    opacity: 0;
}
body{
    overflow: hidden;
}
#app{
    position:relative;
    width: auto;
    height: 100%;
    overflow: hidden;
}
header{
    position:fixed;
    top:0;
    left:0;
    height: 100%;
    z-index: 99;
}
.container{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left:0;
    transition : all .85s;
    padding-left: 80px;
    z-index: 1;
}
#app.active .container{
    padding-left: 580px;
}


header .header-inner{
    position:relative;
    width: 80px;
    height: 100%;
    border-right: 1px solid #000;
    background-color: #fff;
    display: inline-block;
    transition : all .7s;
}
header .header-inner h1{
    display: block;
    font-size:0;
    width: 100%;
    height: 98px;
    position:absolute;
    bottom:20px;
}
header .header-inner h1 a{
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../logo.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
}

header .header-inner .menu-trigger,
header .header-inner .menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

header .header-inner .menu-trigger {
    width: 100%;
    cursor: pointer;
    height: 79px;
}
header .header-inner .menu-trigger>div{
    width: 24px;
    height: 17px;
    position:relative;
    margin: 30px auto 0;
}
header .header-inner .menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #4a4a4a;
}
header .section__menu{
    width: 0;
    transition: all .5s;
    display: inline-block;
    height: 100%;
    vertical-align: top;
    position:relative;
    background-color:#181818;
    overflow: hidden;
    background-position: right -340px bottom 20%;
    background-repeat: no-repeat;
    background-size:auto 496px;
    z-index: 99;
}
.section_bg{
    width: 100%;
    height: 100%;
    position:absolute;
    top:0;
    right:0;
    z-index: -1;
    opacity: 0;
    background-color: rgba(0,0,0,.6);
    transition: all .8s;
}
#app.active .section_bg{
    z-index: 98;
    opacity: 1;
}
header .section__menu ul{
    padding-top: 80px;
    padding-left: 50px;
    display: block;
    width: 500px;
}
header .section__menu ul li{
    padding-bottom: 24px;
}
header .section__menu ul li a{
    font-size:24px;
    line-height: 36px;
    display:inline-block;
    font-weight: 400;
    color: #fff;
}
header .section__menu ul.sub-list{
    position:absolute;
    padding: 0;
    left:50px;
    bottom:80px;
}
header .section__menu ul.sub-list li{
    padding-bottom: 16px;
}
header .section__menu ul.sub-list li:last-child{
    padding-bottom: 0;
}
header .section__menu ul.sub-list li a{
    font-size:18px;
    line-height: 27px;
}

#app.active header .section__menu{
    width:500px;
    background-image: url("../images/menu_bg.png");
}
#app.active header .header-inner{
    background-color: #181818;
    border-right:1px solid #ffffff;
}

#app.active header .header-inner span{
    background-color: #fff;
}
#app.active header .header-inner h1 a{
    background-image: url("../logo_white.png");
}

header .header-inner .menu-trigger span:nth-of-type(1) {
    top: 0;
}

header .header-inner .menu-trigger span:nth-of-type(2) {
    top: 7px;
}

header .header-inner .menu-trigger span:nth-of-type(3) {
    bottom: 0;
}

#app.active header .header-inner .menu-trigger span:nth-of-type(1) {
    -webkit-animation : menu-bar01 .75s forwards;
    animation : menu-bar01 .75s forwards;
}

@-webkit-keyframes menu-bar01 {
    0% {
        -webkit-transform : translateY(14px) rotate(45deg);
    }
    50% {
        -webkit-transform : translateY(14px) rotate(0);
    }
    100% {
        -webkit-transform : translateY(0) rotate(0);
    }
}
@keyframes menu-bar01 {
    0% {
        transform : translateY(14px) rotate(45deg);
    }
    50% {
        transform : translateY(14px) rotate(0);
    }
    100% {
        transform : translateY(0) rotate(0);
    }
}

#app.active header .header-inner .menu-trigger span:nth-of-type(2) {
    transition : all .25s .25s;
    opacity : 1;
}
#app.active header .header-inner .menu-trigger span:nth-of-type(3) {
    -webkit-animation : menu-bar02 .75s forwards;
    animation : menu-bar02 .75s forwards;
}
@-webkit-keyframes menu-bar02 {
    0% {
        -webkit-transform : translateY(-14px) rotate(-45deg);
    }
    50% {
        -webkit-transform : translateY(-14px) rotate(0);
    }
    100% {
        -webkit-transform : translateY(0) rotate(0);
    }
}
@keyframes menu-bar02 {
    0% {
        transform : translateY(-14px) rotate(-45deg);
    }
    50% {
        transform : translateY(-14px) rotate(0);
    }
    100% {
        transform : translateY(0) rotate(0);
    }
}

#app.active header .header-inner .menu-trigger span:nth-of-type(1) {
    -webkit-animation : menu-bar03 .75s forwards;
    animation : menu-bar03 .75s forwards;
}
@-webkit-keyframes menu-bar03 {
    0% {
        -webkit-transform : translateY(0) rotate(0);
    }
    50% {
        -webkit-transform : translateY(7px) rotate(0);
    }
    100% {
        -webkit-transform : translateY(7px) rotate(45deg);
    }
}
@keyframes menu-bar03 {
    0% {
        transform : translateY(0) rotate(0);
    }
    50% {
        transform : translateY(7px) rotate(0);
    }
    100% {
        transform : translateY(7px) rotate(45deg);
    }
}

#app.active header .header-inner .menu-trigger span:nth-of-type(2) {
    opacity : 0;
}
#app.active header .header-inner .menu-trigger span:nth-of-type(3) {
    -webkit-animation : active-menu-bar07-02 .75s forwards;
    animation : active-menu-bar07-02 .75s forwards;
}
@-webkit-keyframes active-menu-bar07-02 {
    0% {
        -webkit-transform : translateY(0) rotate(0);
    }
    50% {
        -webkit-transform : translateY(-7px) rotate(0);
    }
    100% {
        -webkit-transform : translateY(-7px) rotate(-45deg);
    }
}
@keyframes active-menu-bar07-02 {
    0% {
        transform : translateY(0) rotate(0);
    }
    50% {
        transform : translateY(-7px) rotate(0);
    }
    100% {
        transform : translateY(-7px) rotate(-45deg);
    }
}

@media only screen and (min-width : 0px) and (max-width : 1280px) {

}

@media only screen and (min-width : 0px) and (max-width : 799px) {
    #app{
        width: 100%;
    }
    /* 트랜지션 모션 쳐리 (라우터 이동) */
    .page-enter-active, .page-leave-active {
        transition: opacity .8s, transform .8s;
    }
    .page-enter, .page-leave-to {
        opacity: 0;
    }
    header{
        width: 100%;
        z-index: 1;
    }
    header .header-inner{
        width:100%;
        height:56px;
        border-right:0;
        border-bottom:1px solid #c2c2c2;
    }
    header .header-inner h1 {
        width:80px;
        height: 100%;
        bottom:0;
        overflow: hidden;
    }
    header .header-inner h1 a {
        transform: rotate(90deg);
        background-size:auto 55px;
    }
    header .header-inner .menu-trigger{
        position:absolute;
        top:0;
        right:0;
        width: 56px;
        height: 56px;
    }
    header .header-inner .menu-trigger>div{
        margin: 18px auto 0;
    }
    header .section__menu{
        width: 100%;
        height: calc(100% - 56px);
        position:absolute;
        top:56px;
        left:0;
        z-index: -1;
        opacity: 0;
        background-size:auto 363px;
        background-position: right -247px bottom 40%;
    }
    header .section__menu>div{
        width: 100%;
        height: 100%;
        position:relative;
    }
    header .section__menu ul{
        padding:25px 0 0 32px;
    }
    header .section__menu ul li{
        padding-bottom: 12px;
    }
    header .section__menu ul li a{
        font-size:18px;
        line-height: 27px;
    }
    header .section__menu ul.sub-list{
        left:32px;
        bottom:50px;
    }
    header .section__menu ul.sub-list li{
        padding-bottom: 12px;
    }
    .section_bg{
        display: none;
    }
    #app.active .section_bg{
        display: none;
    }
    #app.active .container{
        z-index: -1;
        opacity: 0;
    }
    .container {
        position: absolute;
        padding-left:0;
        opacity: 1;
        top:56px;
        height: calc(100% - 56px);
        padding-top:0;
        z-index: 1;
    }
    #app.active header{
        z-index:999;
    }

    #app.active header .section__menu{
        width: 100%;
        z-index: 99;
        opacity: 1;
        left:0;
    }

    #app.active header .header-inner{
        border-right:0;
    }
    #app.active .container{
        padding-left: 0;
    }
}